<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26497681392-h9404tagmskj7f1p7fe5mn2b99l5fsm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26497681392-h9404tagmskj7f1p7fe5mn2b99l5fsm4</string>
	<key>API_KEY</key>
	<string>AIzaSyD9gDwOZtBm19YSaoYy0jwnV9yWKyUaNcY</string>
	<key>GCM_SENDER_ID</key>
	<string>26497681392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uberRiderApp</string>
	<key>PROJECT_ID</key>
	<string>uber-app-d69dc</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-app-d69dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:26497681392:ios:9d248e44fda22a4df53f35</string>
</dict>
</plist>
